<div class="container">

<h1>Home#score</h1>
<p>Find me in app/views/home/score.html.erb</p>
<br>

<br>
<p>Your word: <%= @word %></p>
<br>

<p>Your score: <%= @score[0] %></p>
<p><%= @score[1] %></p>
<p>Your time: <%= @result.to_f %> seconds</p>

</div>
